#divi {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

#button{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#signuplink{
  position: relative;
  object-position: center;
  margin-top: 10px;
}

.main-class {
  padding: 5rem;
  right: 0;
  left: 0;
  width: initial;
  height: initial;
  position: absolute;
}
