/**
    Components 
**/

.name {
    color:#7C0A02;
    display: inline;
}

.main-class {
    padding: 5rem;
    right: 0;
    left: 0;
    position: absolute;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/02/2006-10-25_Amanita_muscaria_crop.jpg');
    background-repeat  : 'no-repeat';
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: 'center';
    background-size: 100% auto;
    opacity: 0.5;
    z-index: -9999;
}

.content-wrapper{
    min-height: 100vh; 
/* restar-li lo que ocupa la search bar */
}

@media only screen and (max-width: 600px) {


    .background {
        background-size: auto 100%;
    }

    .main-class {
        padding: 0.5em;
        width: min-content;
        height: -webkit-fill-available;
    }

  }