#divi{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

/*
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%, -50%);
*/

/*#username {

  position: relative;
  text-align: center;
  object-position: center;
  width: 300px;
  top: 50px;
  margin-bottom: 1em;
  font-size: 20px;
  margin: 10 auto;

}
#email {

  position: relative;
  text-align: center;
  object-position: center;
  width: 300px;
  top: 50px;
  margin-bottom: 1em;
  font-size: 20px;
  margin: 10 auto;

}
.password {
  position: relative;
  text-align: center;
  object-position: center;
  width: 300px;
  top: 50px;
  margin-bottom: 1em;
  font-size: 20px;
  margin: 0 auto;
}*/

#button{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#PrivacyLink{
  /*position: relative;
  object-position: center;
  margin-top: 10px;
  top: 90px;*/
}

.main-class {
    padding: 5rem;
    right: 0;
    left: 0;
    width: initial;
    height: initial;
    position: absolute;
}
